<fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; border-radius: 10px; flex-grow: 1;">
    <legend>Búsqueda de persona</legend>
    <div class="d-flex align-items-center">
        <div class="form-floating flex-grow-1 me-3">
            <input type="text" class="form-control" id="floatingInput" placeholder=""
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <label for="floatingInput">Documento</label>
        </div>
        <button type="button" class="btn btn-lg btn-outline-success">Buscar</button>
    </div>
</fieldset>

@code {

}
