@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/ramiroagm" target="_blank">Perfil GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Error no controlado.
    <a href="" class="reload">Volver al menú principal</a>
    <span class="dismiss">🗙</span>
</div>