@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Hubo un error ejecutando este proceso. Por favor:
    <a href="/home" class="reload">vuelva al menú principal</a> o
    <a href="mailto:ramirogm44@gmail.com" class="reload">reporte el mismo por correo</a> o <a href="/bugreport" class="reload">en la página de reportes</a>.
    <span class="dismiss">🗙</span>
</div>