@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/ramiroagm" target="_blank">Perfil GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Hubo un error ejecutando este proceso. Por favor:
    <a href="/home" class="reload">vuelva al menú principal</a> o
    <a href="mailto:ramirogm44@gmail.com" class="reload">reporte el mismo</a>.
    <span class="dismiss">🗙</span>
</div>