@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Librería Memito 🐈‍ </a>
    </div>
</div>

<input type="checkbox" title="Menú de navegación principal" class="navbar-toggler" />

<div class="navbar collapse-horizontal" onclick="document.querySelector('.navbar-toggler').click()" style="margin-top:10px">
    <nav class="nav flex-column">

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="telegram">
                <span class="bi bi-telegram-ico-figma" aria-hidden="true"></span> Telegram
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <NavLink class="nav-link" href="instagram">
                <span class="bi bi-instagram-ico-figma" aria-hidden="true"></span> Instagram
            </NavLink>
        </div>

        <div class="nav-item px-2">
            <div class="nav-link dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#submenuCredito" aria-expanded="false">
                <span class="bi bi-folder-ico-figma" aria-hidden="true"></span>Información de crédito
            </div>
            <div id="submenuCredito" class="collapse">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="infoCredito/personas">
                        <span class="bi bi-new-pers-ico-figma" aria-hidden="true"></span>Personas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="infoCredito/nucleo">
                        <span class="bi bi-new-nucleo" aria-hidden="true"></span>Nucelo
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="infoCredito/agregarCredito">
                        <span class="bi bi-new-credit-ico-figma" aria-hidden="true"></span>Nuevo crédito
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <div class="nav-link dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#submenuConfig" aria-expanded="false">
                        <span class="bi bi-config" aria-hidden="true"></span>Configuración
                    </div>
                    <div id="submenuConfig" class="collapse">
                        <NavLink class="nav-link px-4" href="infoCredito/configNucleo">
                            <span class="bi bi-new-config-nuc" aria-hidden="true"></span>Nucleo
                        </NavLink>
                        <NavLink class="nav-link px-4" href="infoCredito/configPersona">
                            <span class="bi bi-config-pers-ico-figma" aria-hidden="true"></span>Persona
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-4 px-3 fixed-bottom" href="/">
                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>Volver
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}