@using TesterBlazor.Models.InfoCredito

@inject IJSRuntime JSRuntime
@page "/infoCredito/nucleos"
<DynamicAuthorize Ruta="infoCredito/nucleos" />
<PageTitle>Manejo de nucleos</PageTitle>

<div class="d-flex align-items-start">

    <!-- Cuadro de búsqueda de nucleos -->
    <TesterBlazor.Components.Pages.InfoCredito.Nucleos.Componentes.BuscarNucleo />

    <!-- Información -->
    <div class="card text-center ms-3" style="width: 500px;">
        <div class="card-header">
            ℹ️ Información
        </div>
        <div class="card-body">
            <h5 class="card-title">Funcionamiento</h5>
            <p class="card-text">
                En esta página se buscará por persona el nucleo que existiera para la misma, se podrá editar y/o configurar el mismo.
            </p>
        </div>
        <div class="card-footer text-muted">
            ⚠️ Advertencia ⚠️
            <br />
            Si no se encuentra un nucleo se podrá agregar uno nuevo.
        </div>
    </div>
</div>

<!-- Vista de resultado de Nucleos -->
<fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; margin-top: 20px; border-radius: 10px; flex-grow: 1;">
    <TesterBlazor.Components.Pages.InfoCredito.Nucleos.Componentes.ResultadoBusquedaNucleo />
</fieldset>

<!-- Modales para agregar nucleo -->
<TesterBlazor.Components.Pages.InfoCredito.Nucleos.Modales.ModalNuevoNucleo />

@code {
}