@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenidos a la aplicación de pruebas Blazor 👋🏻</h1>

Esta aplicación contiene elementos de Blazor básicos que permiten hacer una llamada y demostración de la librería .NET creada.