@page "/instagram"
<DynamicAuthorize Ruta="/instagram" />

@inject SessionState Session

<PageTitle>Tester de Instagram</PageTitle>

<h3>InstagramTester</h3>

<h3>En desarrollo</h3>
<p>
    <strong>Esta herramienta todavía está en construcción.</strong>
    Contáctese con el desarrollador y consulte por esta aplicación.
</p>


@code {

}
