@page "/telegram"

<PageTitle>Tester de Telegram</PageTitle>

<h2> 🤖 Tester de Telegram</h2>

<div>
    <strong>A continuación se mostrará un ejemplo básico de conexión y obtención de información con un bot de Telegram.</strong>
</div>

<br />

<div>
    El bot al que nos estaremos conectando se llama <a href="https://t.me/del_monte_bot" target="_blank">@@DelMonteTester</a> y se podrá encontrar escaneando el siguiente código QR:

    <br />

    <img src="../src/del_monte_bot.png" />
</div>

<br />

<div>
    <h3> 🧪 Zona de prueba</h3>
    <table>
    <tr>
        <td>
            <h4>Ventana de resultado:</h4>
        </td>
        <td>
            <h4>Imputs:</h4>
        </td>
    </tr>
</table>
</div>

@code {

}
